name: ci
"on":
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: corepack enable
      - run: pnpm i
      - run: pnpm lint-check
      - run: pnpm build
      - run: pnpm tsc
      - run: pnpm test
      - run: npx playwright install chromium
      - run: pnpm -C packages/demo test-e2e
      - run: pnpm -C packages/demo build-preview
      - run: E2E_COMMAND='pnpm preview' pnpm -C packages/demo test-e2e

  test-react-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: corepack enable
      - run: pnpm i
      - run: pnpm build
      - run: npx playwright install chromium
      - run: pnpm -C packages/react-server/examples/basic test-e2e
      - run: pnpm -C packages/react-server/examples/basic build
      - run: pnpm -C packages/react-server/examples/basic test-e2e-preview
      - run: pnpm -C packages/react-server test-e2e

  test-vite-node-miniflare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: corepack enable
      - run: pnpm i
      - run: pnpm build
      - run: npx playwright install chromium
      - run: pnpm -C packages/vite-node-miniflare/examples/basic test-e2e
      - run: pnpm -C packages/vite-node-miniflare/examples/react test-e2e
      - run: pnpm -C packages/vite-node-miniflare/examples/react-router test-e2e
      - run: pnpm -C packages/vite-node-miniflare/examples/remix test-e2e

  test-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: corepack enable
      - run: pnpm i
      - run: pnpm build
      - run: npx playwright install chromium
      - run: pnpm -C packages/vite-glob-routes/examples/ssr test-e2e
      - run: pnpm -C packages/vite-glob-routes/examples/ssr build
      - run: pnpm -C packages/vite-glob-routes/examples/ssr test-e2e-preview
      - run: pnpm -C packages/vite-glob-routes/examples/spa test-e2e
      - run: pnpm -C packages/vite-glob-routes/examples/spa build
      - run: pnpm -C packages/vite-glob-routes/examples/spa test-e2e-preview
