name: ci
"on":
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm
      - run: pnpm i
      - run: pnpm lint-check
      - run: pnpm build
      - run: pnpm tsc
      - run: pnpm test
      - run: npx playwright install chromium
      - run: pnpm -C packages/demo test-e2e
      - name: test template fresh install
        run: |
          export src_dir=examples/ssr
          export dst_dir=$(mktemp -d)
          bash examples/init.sh
          bash examples/test.sh
