name: pkg-pr-new
"on":
  push:
    branches:
      - main
  pull_request:
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: |
          pnpx pkg-pr-new publish --comment=off \
            packages/react-server \
            packages/react-server-next \
            packages/transforms \
            packages/vite-plugin-ssr-middleware \
            packages/pre-bundle-new-url \
            packages/vite-plugin-server-asset \
            packages/vite-plugin-ssr-css
