name: pkg-pr-new
"on":
  push:
    branches:
      - main
  pull_request:
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          playwright: false

      # strip prepack to avoid duplicate builds
      - run: |
          for pkg in packages/*/package.json; do
            sed -i 's#"prepack"#"x-prepack"#' "$pkg"
          done

      - run: |
          pnpx pkg-pr-new publish --comment=off \
            packages/react-server \
            packages/react-server-next \
            packages/transforms \
            packages/import-attributes \
            packages/vite-plugin-ssr-middleware \
            packages/pre-bundle-new-url \
            packages/server-asset \
            packages/nitro \
            packages/node-loader-cloudflare \
            packages/ssr-css
